.footer {
  height: $footer-height-mobile;

  @include on-tablet {
    height: $footer-height-tablet;
  }

  @include on-desktop {
    height: $footer-height-desktop;
  }
}

.footer__background {
  height: $footer-height-mobile;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url(../images/footer-bg-image.png);
  background-size: cover;
  background-position: right;
  z-index: -1;

  @include on-tablet {
    height: $footer-height-tablet;
  }

  @include on-desktop {
    height: $footer-height-desktop;
  }
}
