.icon {
  display: block;
  height: $icon-mobile-height;
  width: $icon-mobile-weight;
  background-size: cover;
  background-position: center;
  transition: transform $effectDuration;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: $icon-tablet-height;
    width: $icon-tablet-weight;
  }

  &--phone {
    background-image: url(../icons/icon-phone.png);
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu.png);

    &:hover {
      background-image: url(../icons/icon-burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.png);
  }
}
