.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $menu-color;
  font-weight: 600;
  text-transform: uppercase;
  overflow: auto;

  &__top {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 8px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    color: $main-text-color;
    margin-bottom: $margin-bottom-standard;
    font-size: $font-size-middle;
    line-height: 27px;
    text-decoration: none;
    display: block;
  }

  &__book-a-test-ride {
    color: $main-text-color;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: $letter-spacing-increase;
    text-decoration: none;
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid $main-text-color;
  }
}
