.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: $font-weight-semibold;
  font-size: $title-size-mobile;
  line-height: 100%;
  letter-spacing: $letter-spacing-decrease;
  text-align: center;

  @include on-tablet {
    font-size: $title-size-tablet;
  }

  @include on-desktop {
    font-size: $title-size-desktop;
  }

  &--align--left {
    text-align: left;
  }
}
