.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 27px;

    @include on-tablet {
      gap: 36px;
    }
  }

  &__logo {
    display: flex;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      width: 187px;
    }
    &--menu {
      @include on-tablet {
        width: 130px;
      }
    }
  }
}
