$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #1d1d1d;
$menu-color: #c2c2c2;
$color-white: #fff;
$line-height-standard: 140%;
$border-radius-standard: 40px;
$font-size-small: 14px;
$font-size-middle: 16px;
$title-size-mobile: 32px;
$title-size-tablet: 48px;
$title-size-desktop: 64px;
$margin-bottom-standard: 16px;
$placeholder-color: #58586b;
$hover-color: #bfdaa6;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$icon-mobile-height: 18px;
$icon-mobile-weight: 18px;
$icon-tablet-height: 24px;
$icon-tablet-weight: 24px;
$animation-duration: 0.3s;
$letter-spacing-decrease: -1.5px;
$letter-spacing-increase: 2px;
$footer-height-mobile: 200px;
$footer-height-tablet: 480px;
$footer-height-desktop: 555px;
